absl-py==0.8.1
anytree==2.7.2
apparmor==2.13.3
appdirs==1.4.3
application-utility==1.2.1
astor==0.8.0
astroid==2.3.3
attrs==19.3.0
autopep8==1.4.4
Beaker==1.11.0
btrfsutil==1.1.1
CacheControl==0.12.5
cachetools==3.1.1
catfish==1.4.10
chardet==3.0.4
colorama==0.4.1
cupshelpers==1.0
cycler==0.10.0
distlib==0.2.9
distro==1.4.0
docopt==0.6.2
gast==0.2.2
google-auth==1.7.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
greenlet==0.4.15
grpcio==1.25.0
gufw==19.10.0
h5py==2.10.0
html5lib==1.0.1
idna==2.8
importlib-metadata==0.23
isort==4.3.21
joblib==0.14.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyutils==0.6
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lensfun==0.3.2
LibAppArmor==2.13.3
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.11.0
lxml==4.4.1
Mako==1.0.14
mallard-ducktype==1.0.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
menulibre==2.2.1
meson==0.52.0
more-itertools==7.2.0
msgpack==0.6.2
mugshot==0.4.1
npyscreen==4.10.5
numpy==1.17.3
oauthlib==3.1.0
opencv-python==4.1.2.30
opt-einsum==3.1.0
packaging==19.2
pacman-mirrors==4.15
pep517==0.6.0
pexpect==4.7.0
Pillow==6.2.0
progress==1.5
protobuf==3.11.1
psutil==5.6.3
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycairo==1.18.2
pycodestyle==2.5.0
pycups==1.9.74
pycurl==7.43.0.3
Pygments==2.4.2
PyGObject==3.34.0
pylint==2.4.4
pynvim==0.3.2
pyparsing==2.4.2
PyQt5==5.13.1
PyQt5-sip==4.19.19
python-dateutil==2.8.0
python-distutils-extra==2.39
pytoml==0.1.21
pyxdg==0.26
PyYAML==5.1.2
reportlab==3.5.28
requests==2.22.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
scikit-learn==0.22
scipy==1.3.3
six==1.12.0
team==1.0
tensorboard==2.0.2
tensorflow==2.3.1
tensorflow-estimator==2.0.1
termcolor==1.1.0
typed-ast==1.4.0
udiskie==1.7.7
ufw==0.36
urllib3==1.25.6
utils==0.9.0
virtualenv==16.7.8
webcolors==1.10
webencodings==0.5.1
Werkzeug==0.16.0
wpm==1.51.5
wrapt==1.11.2
zipp==0.6.0
